LLM_TYPE=qwen
DASHSCOPE_API_KEY=
DASHSCOPE_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
OPENAI_API_KEY=
OPENAI_BASE_URL=
RESUME_ASSISTANT_API_BASE_URL=http://127.0.0.1:8008
SELF_RESUME_COLLECTION_NAME=self_resume_chunks
UPLOAD_COLLECTION_NAME=uploaded_doc_chunks
